.main-content {
    flex-grow: 1;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 100px;
    max-height: 80vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.main-content::-webkit-scrollbar {
    display: none;
}
